.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.gallery img {
  width: 100%;
  max-width: 640px;
  height: auto;
  border: 3px solid #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
